/*================================================================
  #General
  ================================================================*/
html,
body,
.container,
.row,
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.hidden {
  display: none;
}
/*================================================================
  #Map
  ================================================================*/
.map-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 24px;
  z-index: 99;
}
.loading-overlay {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .8;
  position: fixed;
}
.loading-icon {
  text-align: center;
  font-size: 108px;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 20%;
}
.loading-text {
  font-size: 32px;
  text-transform: uppercase;
}
/*================================================================
  #Map config
  ================================================================*/
.btn {
  background-color: red;
  color: #ffffff;
  padding: 4px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
#city-form {
  float: left;
}
.latest-log {
  float: left;
  background-color: #FFFFBC;
  padding: 4px;
  margin: 0 2px;
}
.log-msg {
  color: #F00;
}
.zoom-level-box,
.lat-box,
.lng-box,
.btn-box {
  float: left;
  display: none;
}
.history-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.history-overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #ffffff;
  opacity: .8;
  position: fixed;
}
.history-list {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 102;
  text-align: center;
  overflow-y: scroll;
}
.history-list li {
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5e97ff;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.history-list li:hover {
  color: #ffffff;
  background-color: #5e97ff;
}
/*================================================================
  #Map
  ================================================================*/
#map-canvas {
  height: 90%;
}
#map-config {
  height: 10%;
  overflow: hidden;
}
#tweet-text {
  padding: 24px 12px 0;
  font-size: 32px;
  color: #5e97ff;
  text-transform: uppercase;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
/*================================================================
  #No Javascript
  ================================================================*/
.nojs {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
.nojs-overlay {
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .8;
  background-color: #ffffff;
}
.nojs-text {
  text-align: center;
  color: #5e97ff;
  font-weight: bold;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  top: 0;
  font-size: 24px;
  padding: 120px 5% 0;
  width: 90%;
}
