/*================================================================
	#General
	================================================================*/
html,
body,
.container,
.row,
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.hidden {
  display: none;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
/*================================================================
	#Map
	================================================================*/
.map-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 24px;
  z-index: 99;
}
.loading-overlay {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .8;
  position: fixed;
}
.loading-icon {
  text-align: center;
  font-size: 108px;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 20%;
}
.loading-text {
  font-size: 32px;
  text-transform: uppercase;
}
/*================================================================
	#Map config
	================================================================*/
.red-btn {
  background-color: red;
  color: #ffffff;
}
.btn {
  padding: 4px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
#city-form {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.city-box {
  width: 60%;
  height: 100%;
  float: left;
}
.city-box #city {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: none;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5e97ff;
  text-transform: uppercase;
}
.submit-box {
  width: 20%;
  height: 100%;
  float: left;
  cursor: pointer;
}
.submit-box input[type=submit] {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #5e97ff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
button.history {
  width: 20%;
  height: 100%;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #A8C0FD;
  color: #ffffff;
  background-color: #5e97ff;
  cursor: pointer;
}
.city-box #city,
.submit-box input[type=submit],
button.history {
  font-size: 12px;
}
@media (min-width: 480px) {
  .city-box #city,
  .submit-box input[type=submit],
  button.history {
    font-size: 18px;
  }
}
.latest-log {
  float: left;
  background-color: #FFFFBC;
  padding: 4px;
  margin: 0 2px;
}
.log-msg {
  color: #F00;
}
.zoom-level-box,
.lat-box,
.lng-box,
.btn-box {
  float: left;
  display: none;
}
.history-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.history-overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #ffffff;
  opacity: .8;
  position: fixed;
}
.history-list {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 102;
  text-align: center;
  overflow-y: scroll;
}
.history-list li {
  font-size: 16px;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5e97ff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.history-list li:hover {
  color: #ffffff;
  background-color: #5e97ff;
}
/*================================================================
	#Page loading
	================================================================*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 148px;
  z-index: 99;
}
.loading-inner {
  width: 40px;
  margin: 0 auto;
}
.loading-section {
  width: 40px;
  height: 26px;
}
.box {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  margin-bottom: 2px;
  background: #ffffff;
  float: left;
}
.box:nth-child(3n+1) {
  margin-left: 0;
}
.box.box-dance:nth-child(1) {
  -webkit-animation-delay: -1.2s;
}
.box.box-dance:nth-child(2) {
  -webkit-animation-delay: -2s;
}
.box.box-dance:nth-child(3) {
  -webkit-animation-delay: -1.6s;
}
.box.box-dance:nth-child(4) {
  -webkit-animation-delay: -3.2s;
}
.box.box-dance:nth-child(5) {
  -webkit-animation-delay: -0.4s;
}
.box.box-dance:nth-child(6) {
  -webkit-animation-delay: -3.6s;
}
.box.box-dance:nth-child(7) {
  -webkit-animation-delay: -2.4s;
}
.box.box-dance:nth-child(8) {
  -webkit-animation-delay: -2.8s;
}
.box.box-dance:nth-child(9) {
  -webkit-animation-delay: -0.8s;
}
.box-dance {
  -webkit-animation: dance 840ms infinite alternate;
}
@-webkit-keyframes dance {
  0% {
    background: rgba(94, 151, 255, 0.9);
  }
  100% {
    background: rgba(94, 151, 255, 0.32);
    -webkit-transform: scale(0.65);
  }
}
.loading-text {
  position: fixed;
  top: 216px;
  text-align: center;
  width: 100%;
  color: #616161;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 3px;
}
/*================================================================
	#Map
	================================================================*/
#map-canvas {
  height: 95%;
}
#map-config {
  height: 5%;
  overflow: hidden;
}
#tweet-text {
  padding: 24px 12px 0;
  font-size: 20px;
  color: #5e97ff;
  text-transform: uppercase;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
@media (min-width: 480px) {
  #tweet-text {
    font-size: 32px;
  }
}
div.gm-style-iw > div,
div.gm-style-iw > div > div {
  overflow: visible !important;
}
/*================================================================
	#No Javascript
	================================================================*/
.nojs {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
.nojs-overlay {
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .8;
  background-color: #ffffff;
}
.nojs-text {
  text-align: center;
  color: #5e97ff;
  font-weight: bold;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  top: 0;
  font-size: 24px;
  padding: 120px 5% 0;
  width: 90%;
}
